:root {
    --default-font: "Open Sans",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Jost", sans-serif;
    --font-heading: "Jost", sans-serif;
    --background-color: #ffffff;
    --default-color: #444444;
    --heading-color: #37517e;
    --accent-color: #47b2e4;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
}

.about-section{
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 88px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--heading-color);
    font-family: var(--heading-font);
}
/* 1번 째 부분 */
#about_us {
    font-family: var(--default-font);
    padding: 60px 0;
    background-color: white;
    scroll-margin-top: 88px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 0px;
    border-radius: 5px;
    transition: 0.3s;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about{
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 88px;
}

.about-title {
    text-align: center;
    padding: 0 12px 60px;
    position: relative;
    color: var(--default-color);
}

.about-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    color: var(--color_dark_navy);
    line-height: 1.2;
}

.about-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: #47b2e4;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.about-title h2::before{
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    background: 
    color-mix(in srgb, #444444, transparent 60%);
    left: 0;
    right: 0;
    bottom: 1px;
    margin: auto;
}

.row {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

p {
    margin-top: 10px;
    margin-bottom: 1rem;

}

.about-left, .about-right {
    flex: 0 0 auto;
    width: 50%;
    margin: 24px 0 0 ;
    max-width: 800px;
}

.about-left {
    padding-left: 100px;
}

.about-right {
    padding-right: 70px;
    padding-left: 20px;
}


.about-left ul {
    list-style: none;
    padding: 0;
}

.about-left ul li{
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.about-left ul i{
    font-size: 20px;
    padding-right: 4px;
    color: var(--accent-color);
}

.circle-bar::before{
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
}

.about-right p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.read-more {
    color: var(--accent-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 28px;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--accent-color);
    margin-top: 5px;
}

.read-more i{
    font-size: 18px;
    margin-left: 5px;
    line-height: 0;
    transition: 0.3s;
}

.arrow-right::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
}

.read-more:hover {
    color: var(--contrast-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.read-more:hover i {
    transform: translateX(5px);
}

/* 3번 째 부분 */

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 50px;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.skills img {
    max-width: 40%;
    height: auto;
    object-fit: contain;
}

.skills-content {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills-content h3 {
    font-family: var(--font-heading);
    font-size: 2rem;
    font-weight: 700;
    color: var(--heading-color);
}

.skills-content p {
    font-style: italic;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    font-size: 16px;
}

.animate {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.progress {
    width: 100%;
}

.skill {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 6px;
    color: var(--default-color);
    font-weight: 600;
    font-family: var(--heading-font);
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: #e0e0e0;
    overflow: hidden;
}

.progress:nth-child(1) .progress-bar::before {
    width: 100%;
}
.progress:nth-child(2) .progress-bar::before {
    width: 90%;
}
.progress:nth-child(3) .progress-bar::before {
    width: 75%;
}
.progress:nth-child(4) .progress-bar::before {
    width: 55%;
}

.progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--heading-color);
    transition: width 1s ease-in-out;
}

/* 2번째 부분 */
.why-us {
    display: flex;
    background: #f8f9fc;
    padding: 60px 0;
    width: 100%;
    font-family: default;
}
.why-us-left,
.why-us-right {
    flex: 1 1 50%;
}
.why-us-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.why-us-left h3 {
    font-weight: 400;
    font-size: 34px;
    color: var(--heading-color);
    font-family: var(--heading-font);
    line-height: 1.2;

}

.why-us-left h3 strong {
    font-weight: bolder;
}


.why-us-left p {
    color: #6c757d;
    margin-bottom: 0 0 16px;
}

.faq-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faq-item {
    background: #fff;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.faq-item:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.faq-item summary {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.faq-number {
    color: #00bfe7;
    font-weight: 700;
    margin-right: 10px;
}

.faq-question {
    color: #1e2e50;
    flex-grow: 1;
}

.faq-answer {
    margin-top: 15px;
    color: #555;
    line-height: 1.6;
    font-size: 15px;
}

.faq-toggle {
    font-family: 'bootstrap-icons';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    transition: transform 0.3s ease;
    margin-left: auto; 
}

.faq-toggle::before {
    content: "\f285";
}

.faq-item:hover {
    color: #00bfe7;
}

.faq-item[open] .faq-question {
    color: var(--accent-color);
}

.faq-item[open] .faq-toggle {
    transform: rotate(90deg);
    color: var(--accent-color);
}

.why-us-right {
    flex: 1 1 500px;
    text-align: center;
}

.why-us-right img {
    width: 100%;
    max-width: 500px;
}
