/*각자 이니셜로 css파일 생성해 주세요!*/
:root{
    --color_skyblue: #00a6eb;
    --color_lightblue: #47b2e4;
    --color_dark_navy: #013B6D;
    --color_navy: #37517E;
    --default-color: #444444;
    --background-color: #ffffff;
    --color_white: #ffffff;
    --color_light_gray: #f8f9fa;
    --color_gray: #6c757d;
    --color_dark: #212529;
  
    --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Jost", sans-serif;
    --nav-font: "Poppins", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
body{
    padding-top: 32px;
    font-family: var(--default-font);
}