/* service!!!!!!!!!! */

#services-section {
    background-color: #f5f6f8;
    padding: 60px 0px;
    text-align: center;
    color : #444444
}

h1, h2, h3, h4, h5, h6 {
    color: #37517e;
    font-family: "Jost", sans-serif;
}
.services-title {
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    color: #37517e;
}
.services-title h2 {
    font-size: 32px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}
.services-title h2::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px; 
    height: 3px;
    background: #47b2e4;
}
.services-title h2::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 1px;
    background: #444444;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.services-title p {
    font-size: 16px;
    color: #444444;
    
    margin-top: 20px;
}

/* 카드 배치 (flex로 4개 가로 배치) */


/* 개별 카드 */
.service-card {
    background: #ffffff;
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
    height: 100%;

    padding: 50px 30px;
    position: relative;
    cursor: pointer;
    text-align: left;

    transform: translateY(0);
    transition: all ease-in-out 0.4s;
    transition-behavior: normal;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;

}

/* 아이콘 */
.service-card .icon {
    font-size: 36px;
    margin-bottom: 20px;
    color: #47b2e4;
    width: 2.4rem;
    height: 2rem;
    transition: 0.3s;
}

/* 제목 및 본문 */
.service-card h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
    
}

.service-card:hover h4 {
    color: #47b2e4; 
    transform: translateY(-5px); 
}
.service-card p {
    font-size: 14px;
    color: #444;
}

.service-card:hover {
    top: -5px;
    color: #3b5998;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px 106px;
}

@media (min-width: 600px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.7rem;
    }
}

@media (min-width: 1200px) {
    .services-container {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* work!!!!!!!!!!! */
#work_process {
    color: #444444;
    background-color: #ffffff;
    padding: 60px 0;
    scroll-margin-top: 88px;
    overflow: clip;
}
@media (max-width: 1199px) {
    #work_process {
        scroll-margin-top: 66px;
    }
}

.work_process-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    color: #37517e;
}

.work_process-title h2::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px; 
    height: 3px;
    background: #47b2e4;
    text-align: center;
}
.work_process-title h2::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 1px;
    background: #444444;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.work_process-title p {
    margin-bottom: 0;
    text-align: center;
}